<nb-layout>
	<nb-layout-column>
		<nb-accordion *ngFor="let item of mscDataWithParent">
			<nb-accordion-item>
				<nb-accordion-item-header>{{item.slotName}}</nb-accordion-item-header>
				<nb-accordion-item-body>
							<table [nbTreeGrid]="source">
								<tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
								<tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
								<ng-container [nbTreeGridColumnDef]="customColumn">
									<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
									<!-- <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th> -->

									<td nbTreeGridCell *nbTreeGridCellDef="let row">
										<nb-tree-grid-row-toggle [expanded]="row.expanded"
											*ngIf="row.data.entity ==='PAPERSET' ">

										</nb-tree-grid-row-toggle>
										<nb-checkbox *ngIf="row.data['elective'] " (checkedChange)="toggle($event)">
										</nb-checkbox>
										<strong  *ngIf="row.data['entity']=='PAPERSET' ">	{{row.data["name"]}} - {{row.data["code"]}} | {{row.data["entity"]}}</strong>
										<span  *ngIf="row.data['entity']!='PAPERSET' ">{{row.data["name"]}} - {{row.data["code"]}} | {{row.data["entity"]}}</span>
									</td>
								</ng-container>

								<!-- <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["name"]}} - {{row.data["code"]}} </td>
					</ng-container> -->
							</table>

				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>

	</nb-layout-column>
</nb-layout>